<div class="home-background">
    <body>

<div class="container">
        <div class="jumbotron">
        <h1 class="text-center" id="survey-h1">
          
                <strong>Article scraper</strong>
        </h1>
        <hr>
        <h2 > 
            just start !
        </h2>
            <br>   
    </div>
</div>

</body>
</div>