<div class="home-background">
    <body>

        <div class="container">
                <div class="jumbotron">

                    <h1 class="text-center">
                        <strong>Article scraper</strong>
                    </h1>
                    <hr>
                    <h2 class="text-center"> let's see news </h2>
                
                </div>
        </div>

        <div class="container article-part">

        </div>

</body>
</div>