<div class="home-background">
        <body>

        <div class="container">
                <div class="jumbotron">
                <h1 class="text-center" >
                
                        <strong>Saved Articles</strong>
                </h1>
                <hr>
                <h2 class="text-center"> 
                 You can see your saved Articles here 
                </h2>
                    <br>   
            </div>
        </div>

    </body>
</div>