
* {
    padding:0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

html, body {
    margin: 0;
}

.home-background {
    min-height: 100vh;
    background-image: url(../img/coffee-cup-smartphone-notebook-97050.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}